body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.header {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;
    padding: 0 32px;
}

.arrows > button {
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px;
    margin-right: 16px;
}

.rate_button {
    background-color: rgba(0,0,0,.7);
    border: 1px solid rgba(255,255,255,.7);
    font-size: 13px;
    margin: 0 16px;
    border-radius: 500px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding: 8px 34px;
    text-align: center;
    text-transform: uppercase;
    will-change: transform;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border: 0;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    gap: 8px;
    height: 32px;
    margin-inline-start: 16px;
    min-width: 32px;
    padding: 2px;
    font-weight: 700;
}

figure {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.account_image {
    display: inline-block;
    position: relative;
}

.avatar {
    align-items: center;
    background-color: #535353;
    border-radius: 50%;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
}

.user_name {
    display: block;
    max-width: 110px;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 300px;
    min-height: 100%;
    background-color: black;
    padding-top: 24px;
}

.logo {
    margin-bottom: 18px;
    padding: 0 24px;
    height: 40px;
    max-width: 131px;
    width: 100%;
}

.logo_link {
    color: #fff;
}

.navigation {
    padding: 0 8px;
}

.menu_button_link:hover {
    color: #fff;
}

.menu_button_link {
    color: #B3B3B3;
    text-decoration: none;
    cursor: pointer;
    gap: 16px;
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    transition: 0.25s linear;
}

.active_link {
    color: #fff;
}

.home_icon {
    display: none;
}

.home_icon_active {
    display: block;
}

.search_icon {
    display: block;
}

.search_icon_active {
    display: none;
}

.collection_icon {
    display: block;
}

.collection_icon_active {
    display: none;
}

.menu_button_text {
    font-weight: 700;
    font-size: 14px;
}

.content {
    height: 100%;
    min-height: 83.4vh;
    background-color: #181818;
    padding: 0 32px;
}

.album_list {
    display: flex;
    justify-content: space-between;
}

.album {
    max-width: 180px;
    position: relative;
    display: flex;
}

.border {
    background-color: #1a1a1a;
    padding: 16px;
    width: 100%;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 8%;
}

.album_link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.album_name {
    padding-top: 16px;
}

.album_description {
    padding-top: 8px;
    color: #6a6a6a;
    font-weight: 700;
}

.footer {
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #181818;
    border-top: 1px solid white;
}